<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <!-- Header -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>headerCellClass</key>
            <string>PLGHeaderCell</string>
        </dict>


        <!-- Switches -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Settings</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>All settings require a respring to take effect.</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>PLGSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>se.nosskirneh.properlockgestures</string>
            <key>key</key>
            <string>Homescreen</string>
            <key>label</key>
            <string>Home screen</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>PLGSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>se.nosskirneh.properlockgestures</string>
            <key>key</key>
            <string>Lockscreen</string>
            <key>label</key>
            <string>LS and NC</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>PLGSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>se.nosskirneh.properlockgestures</string>
            <key>key</key>
            <string>Notifications</string>
            <key>label</key>
            <string>Notifications (LS)</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>PLGSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>se.nosskirneh.properlockgestures</string>
            <key>key</key>
            <string>Passcode</string>
            <key>label</key>
            <string>Passcode (LS)</string>
        </dict>


        <!-- About -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>About</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>action</key>
            <string>followTwitter</string>
            <key>label</key>
            <string>Follow me on Twitter</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>action</key>
            <string>discordServer</string>
            <key>label</key>
            <string>Discord server</string>
        </dict>
        <dict>
            <key>action</key>
            <string>sendEmail</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Email me</string>
        </dict>
        <dict>
            <key>action</key>
            <string>donate</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Support my work</string>
        </dict>
        <dict>
            <key>action</key>
            <string>sourceCode</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Source code on GitHub</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string>© 2017-2020 Andreas Henriksson</string>
        </dict>
    </array>
    <key>title</key>
    <string></string>
</dict>
</plist>
